.chief-editor {
  outline-width: 0px;
}

/* 选区颜色（选区颜色扩展有 bug，无法同时选中两个 emoji。） */
/* .chief-editor {
  .selection {
    @apply inline;
  }

  .selection,
  *::selection {
    @apply inline bg-black/10 dark:bg-white/20;
  }
} */

/* 段落、标题 */
.chief-editor {
  p {
    line-height: 1.7;
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }

  /* p:first-child {
    margin-top: 0;
  }

  p:last-child {
    margin-bottom: 0;
  } */

  /* & > p:first-child {
    margin-top: 0;
  }

  & > p:last-child {
    margin-bottom: 0;
  } */

  h1 {
    line-height: 1.3;
    font-size: 1.75rem; /* 28px */
    margin-top: 2.375rem; /* 38px */
    margin-bottom: 1.1875rem; /* 19px */
  }

  h2 {
    line-height: 1.4;
    font-size: 1.5rem; /* 24px */
    margin-top: 2.125rem; /* 34px */
    margin-bottom: 1.0625rem; /* 17px */
  }

  h3 {
    line-height: 1.5;
    font-size: 1.25rem; /* 20px */
    margin-top: 1.875rem; /* 30px */
    margin-bottom: 0.9375rem; /* 15px */
  }

  h4 {
    line-height: 1.6;
    font-size: 1rem; /* 16px */
    margin-top: 1.625rem; /* 26px */
    margin-bottom: 0.8125rem; /* 13px */
  }

  h5 {
    line-height: 1.6;
    font-size: 0.9375rem; /* 15px */
    margin-top: 1.5rem; /* 24px */
    margin-bottom: 0.6875rem; /* 11px */
  }

  h6 {
    line-height: 1.6;
    font-size: 0.9375rem; /* 15px */
    margin-top: 1.25rem; /* 20px */
    margin-bottom: 0.5625rem; /* 9px */
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
  }

  h1:first-child,
  h2:first-child,
  h3:first-child,
  h4:first-child,
  h5:first-child,
  h6:first-child {
    margin-top: 0;
  }

  h1:last-child,
  h2:last-child,
  h3:last-child,
  h4:last-child,
  h5:last-child,
  h6:last-child {
    margin-bottom: 0;
  }

  a.link {
    color: var(--primary-9);
    font-weight: 800;
  }
}

/* 水平分割线 */
.chief-editor {
  div[data-type="horizontalRule"] {
    padding-top: 0.75rem; /* 12px */
    padding-bottom: 0.75rem; /* 12px */
    margin-bottom: 0.5rem; /* 8px */

    hr {
      margin-top: 0.125rem; /* 2px */
      margin-bottom: 0.125rem; /* 2px */
      border-top: 0.0625rem solid var(--gray-6); /* 1px */
    }

    &:hover {
      background-color: var(--gray-3);
      cursor: grabbing;
    }

    &.chief-editor-selectednode {
      background-color: var(--primary-3);
    }
  }
}

/* 文本高亮 */
.chief-editor {
  mark {
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    padding: 0.1rem 0;
    color: inherit;
  }
}

/* 引用块 */
.chief-editor {
  blockquote {
    border-left: 3px solid var(--gray-4);
    padding-left: 1rem;
  }
}

/* 列表 */
.chief-editor {
  ol,
  ul {
    padding-left: 1rem;
  }

  li {
    padding-left: 0.25rem;
  }

  ol,
  ol ol ol ol,
  ol ol ol ol ol ol ol,
  ol ol ol ol ol ol ol ol ol ol,
  ol ol ol ol ol ol ol ol ol ol ol ol ol {
    list-style-type: decimal;
  }

  ol ol,
  ol ol ol ol ol,
  ol ol ol ol ol ol ol ol,
  ol ol ol ol ol ol ol ol ol ol ol,
  ol ol ol ol ol ol ol ol ol ol ol ol ol ol {
    list-style-type: lower-alpha;
  }

  ol ol ol,
  ol ol ol ol ol ol,
  ol ol ol ol ol ol ol ol ol,
  ol ol ol ol ol ol ol ol ol ol ol ol,
  ol ol ol ol ol ol ol ol ol ol ol ol ol ol ol {
    list-style-type: lower-roman;
  }

  ul,
  ul ul ul ul,
  ul ul ul ul ul ul ul,
  ul ul ul ul ul ul ul ul ul ul,
  ul ul ul ul ul ul ul ul ul ul ul ul ul {
    list-style-type: disc;
  }

  ul ul,
  ul ul ul ul ul,
  ul ul ul ul ul ul ul ul,
  ul ul ul ul ul ul ul ul ul ul ul,
  ul ul ul ul ul ul ul ul ul ul ul ul ul ul {
    list-style-type: circle;
  }

  ul ul ul,
  ul ul ul ul ul ul,
  ul ul ul ul ul ul ul ul ul,
  ul ul ul ul ul ul ul ul ul ul ul ul,
  ul ul ul ul ul ul ul ul ul ul ul ul ul ul ul {
    list-style-type: square;
  }
}
