.chief-editor {
  .code-block {
    position: relative;

    select {
      position: absolute;
      background-color: var(--white);
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="Black" d="M7 10l5 5 5-5z"/></svg>');
      right: 0.5rem;
      top: 0.5rem;
    }
  }
}

.code-block {
  pre {
    color: var(--gray-12);
    background: var(--gray-3);
    border-radius: 0.5rem;
    font-family: "JetBrainsMono", monospace;
    margin: 1.5rem 0;
    padding: 0.75rem 1rem;

    code {
      background: none;
      color: inherit;
      font-size: 1rem;
      padding: 0;
    }

    /* 
    https://highlightjs.org/
    https://github.com/highlightjs/highlight.js/tree/main 
    Visual Studio 2015 dark style
    */
    .hljs {
      background: #1e1e1e;
      color: #dcdcdc;
    }

    .hljs-keyword,
    .hljs-literal,
    .hljs-symbol,
    .hljs-name {
      color: #569cd6;
    }
    .hljs-link {
      color: #569cd6;
      text-decoration: underline;
    }

    .hljs-built_in,
    .hljs-type {
      color: #4ec9b0;
    }

    .hljs-number,
    .hljs-class {
      color: #b8d7a3;
    }

    .hljs-string,
    .hljs-meta .hljs-string {
      color: #d69d85;
    }

    .hljs-regexp,
    .hljs-template-tag {
      color: #9a5334;
    }

    .hljs-subst,
    .hljs-function,
    .hljs-title,
    .hljs-params,
    .hljs-formula {
      color: #dcdcdc;
    }

    .hljs-comment,
    .hljs-quote {
      color: #57a64a;
      font-style: italic;
    }

    .hljs-doctag {
      color: #608b4e;
    }

    .hljs-meta,
    .hljs-meta .hljs-keyword,
    .hljs-tag {
      color: #9b9b9b;
    }

    .hljs-variable,
    .hljs-template-variable {
      color: #bd63c5;
    }

    .hljs-attr,
    .hljs-attribute {
      color: #9cdcfe;
    }

    .hljs-section {
      color: gold;
    }

    .hljs-emphasis {
      font-style: italic;
    }

    .hljs-strong {
      font-weight: bold;
    }

    /*.hljs-code {
      font-family:'Monospace';
    }*/

    .hljs-bullet,
    .hljs-selector-tag,
    .hljs-selector-id,
    .hljs-selector-class,
    .hljs-selector-attr,
    .hljs-selector-pseudo {
      color: #d7ba7d;
    }

    .hljs-addition {
      background-color: #144212;
      display: inline-block;
      width: 100%;
    }

    .hljs-deletion {
      background-color: #600;
      display: inline-block;
      width: 100%;
    }
  }
}
