.chief-editor {
  .node-imageBlock {
    & img {
      @apply overflow-hidden rounded-xl border-2 border-transparent;
    }

    &:hover img {
      @apply border-2 border-neutral-100 dark:border-neutral-900;
    }

    &:has(.is-active) img,
    &.has-focus img {
      @apply border-2 border-neutral-800 dark:border-neutral-200;
    }
  }

  .ProseMirror-gapcursor + .node-imageBlock {
    @apply outline-neutral-700 hover:outline-neutral-600 dark:outline-neutral-300 dark:hover:outline-neutral-400;
  }
}

/* 图片 */
.chief-editor {
  img {
    height: auto;
    width: 100%;
    max-width: 100%;
    margin: 1rem 0;

    &.ProseMirror-selectednode {
      outline: 3px solid var(--primary-7);
    }
  }
}
