.chief-editor {
  .is-empty::before {
    @apply pointer-events-none float-left h-0 w-full text-[var(--gray-7)];
  }

  &.ProseMirror-focused {
    > p.has-focus.is-empty::before {
      content: "输入 / 唤起更多";
    }
  }

  & > .is-editor-empty::before {
    content: "开始创作...";
  }

  blockquote .is-empty:not(.is-editor-empty):first-child:last-child::before {
    content: "输入引用内容";
  }
}
